.form-group-qName input {
    width:50%;
}

.form-group-qDescrip textarea {
    width:50%;
}

.form-group-qTag select {
    width:35%;
}

.form-group-qAddress input {
    width:50%;
}


.form-group-cReward input {
    width:20%;
}

.form-group-qSearch input {
    width:50%;
}

.form-group-qTag-50 select {
    width:50%;
}

.form-group-reportReason select {
    width:90%;
}


.form-group-reportMessage textarea {
    width:90%;
}


.form-group-editDescription textarea {
    width:90%;
}

.form-group-editName input {
    width:90%;
}

.form-group-editCondition select {
    width:90%;
}