.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}
.img-desc-wrap {
    padding: 10px;
}
.img-desc-wrap .title {
    font-size: 18px;
    line-height: 22px;
}
.img-desc-wrap .uploaded-date {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}
.img-desc-wrap .likes-watch-wrap {
}
.img-desc-wrap .likes,
.img-desc-wrap .watch {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}
