.navbar{
    border-radius: 0;
}

.form-control{
    width: 15%;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar .nav-icon-btn.nav-icon-btn-danger .label {
    background: #e66454;
}

.navbar .nav-icon-btn > a .badge, .navbar .nav-icon-btn > a .label {
    font-size: 10px;
    padding: 1 2px;
    line-height: 12px;
    position: absolute;
    display: block;
    right: 12px;
}

.navbar .dropdown-menu .badge.pull-right, .navbar .dropdown-menu .label.pull-right, .navbar .nav-icon-btn .badge, .navbar .nav-icon-btn .label {
    float: right;
    top: 13px;
}

.label {
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    padding: 0 6px;
    display: inline-block;
    font-weight: 600;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

