.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
}
.thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}
.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}