<link rel="stylesheet" href="../star_style.css">
<link rel="stylesheet" href="../input_styling.css">
<div ng-include src="'templates/navbar.html'"></div>
<div ng-controller="AdminCtrl">
    <div class="container">
        <div ng-if="emailExists">
            <div uib-alert ng-class="'alert-success'">Report Resolved</div>
        </div>
        <h2>Quest! Admin Panel</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-group-qSearch">
                    <label for="userInput">Search Message Text</label>
                    <input type="text" class="form-control" id="userInput" placeholder="Search" ng-model="searchStr">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-qTag-50">
                    <label for="tagSelect">Filter By Reason</label><br>
                    <select id="tagSelect" data-role="listview" data-inset="true" ng-options="reason for reason in reportReasons" class="form-control" ng-model="reasonFilter"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="report in reports | filter: {message: searchStr, status:'UNRESOLVED'} | orderBy:'timestamp'" ng-if="reasonFilter === 'ALL' || reasonFilter === '' || reasonFilter === report.reason">
                    <a ng-click="openReport(report)">&nbsp;{{report.reason}} - {{userIdsToNames[report.offenderId]}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>