<link rel="stylesheet" href="../chat.css">
<div ng-include src="'templates/navbar.html'"></div>
<div ng-controller="ChatCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="chat in chatList"><a href="" ng-click="selectChat($event, chat)">{{chat.chatterNickname}}<span ng-if="chat.unreadCount > 0" class="badge pull-right">{{chat.unreadCount}}</span></a></li>
                    <li class="list-group-item" ng-if="chatList.length === 0">You Are Not Currently Participating In Any Chats</li>
                </ul>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> {{chatHeader}}
                        </div>
                        <div class="panel-body" scroll-glue>
                            <ul class="chat">
                                <li class="{{message.direction}} clearfix" ng-repeat="message in chatMessages">

                                    <div ng-if="!message.sent">
                                        <span class="chat-img pull-{{message.direction}}">
                                            <div class="chat-image">
                                                <img ng-src="{{message.photo}}" alt="User Avatar" class="img-responsive img-circle center-block" />
                                            </div>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{message.sender}}</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>{{message.createdAt | date:'MMM d, y h:mm a'}}</small>
                                            </div>
                                            <p>
                                                {{message.messageText}}
                                            </p>
                                        </div>
                                    </div>

                                    <div ng-if="message.sent">
                                        <span class="chat-img pull-{{message.direction}}">
                                            <div class="chat-image">
                                                <img ng-src="{{message.photo}}" alt="User Avatar" class="img-responsive img-circle center-block" />
                                            </div>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.createdAt | date:'MMM d, y h:mm a'}}</small>
                                                <strong class="pull-{{message.direction}} primary-font">{{message.sender}}</strong>
                                            </div>
                                            <p class="pull-{{message.direction}}">
                                                {{message.messageText}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <form class="form-group" ng-submit="sendNewMessage($event)">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="newMessage" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" id="btn-chat">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>