<link rel="stylesheet" href="../input_styling.css">

<div ng-include src="'templates/navbar.html'"></div>
    <div ng-controller="QuestCreateCtrl">
        <div class="container">
            <div class="row">
                <h3>Quest Creation</h3>&nbsp;
            </div>
            <form  ng-submit="createQuest($event)">
                <div class="row">
                        <div class="form-group form-group-qName">
                            <label for="questName">Name</label>
                            <input type="text" class="form-control" id="questName" placeholder="Quest Name" ng-model="name" />
                        </div>
                </div>
                <div ng-if="nameBlank" class="row">
                    <div class="col-lg-6">
                        <div uib-alert ng-class="'alert-danger'">Must Enter A Quest Name</div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="row">
                    <div class="form-group form-group-qDescrip">
                        <label for="questDescription">Description</label>
                        <textarea class="form-control" id="questDescription" placeholder="Describe your quest" ng-model="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-qTag">
                        <label for="tagSelect">Tag<br></label>
                        <select id="tagSelect" data-role="listview" data-inset="true" ng-options="tag as tag.tagName for tag in tags" class="form-control" ng-model="tag"></select>
                    </div>
                    <p><a class="btn btn-md btn-default" ng-click="openCreateTagModal()">Create New Tag</a>
                    </p>
                </div>
                <div class="row">
                    <div class="form-group form-group-qAddress">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="address">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-8">
                        <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCpUXHXTNrcyLjIorKuGqVG570s4-689zw">
                            <ng-map center="{{address}}" zoom="12"><marker id="mapMarker" position="{{address}}" title="{{address}}"></marker></ng-map>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p><a class="btn btn-md btn-default" target="_blank" href="#!/item/create">Create New Reward Item</a>&nbsp;Or&nbsp;<a class="btn btn-md btn-default" ng-click="openInventory()">Choose Item From Inventory</a></p>

                    <div ng-if="createdItem">
                        <div class="form-group">
                            <label for="createdItemName">Created Reward Item</label>
                            <p id="createdItemName">{{createdItemName}}</p>
                        </div>
                    </div>
                    <div ng-if="selectedItem">
                        <div class="form-group">
                            <label for="selectedItemName">Selected Reward Item</label>
                            <p id="selectedItemName">{{createdItemName}}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-cReward">
                        <label for="cashReward">Cash Reward</label>
                        <input money precision="2" class="form-control" id="cashReward" placeholder="0.00" ng-model="cashReward">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Create Quest</button>
                </div>
            </form>
            <div class="row">&nbsp;</div>
    </div>
</div>