<div ng-include src="'templates/navbar.html'"></div>
<div ng-controller="HomeCtrl">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Find Quests</h2>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="quest in questsFind | orderBy:'created'">
                            <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}</a>
                        </li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-search"></i><a href="#!/search">&nbsp;Search Quests</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h2>Your Quests</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i><a href="#!/quests/new">&nbsp;Create</a></li>
                        <li class="list-group-item" ng-repeat="quest in questsCreated | orderBy:'created'">
                            <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}</a>
                        </li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-globe"></i><a href="#!/quests/created">&nbsp;View Your Created Quests</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h2>Active Quests</h2>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="quest in questsActive | orderBy:'created'">
                            <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}</a>
                        </li>
                        <li class="list-group-item"><i class=" glyphicon glyphicon-inbox"></i><a href="#!/quests/todo">&nbsp;View Your Active Quests</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h2>Chat</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><i class=" glyphicon glyphicon-comment"></i><a href="#!/chat">&nbsp;Open Chat Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>