<div ng-include src="'templates/navbar.html'"></div>

<link rel="stylesheet" href="../inventory.css">

<div ng-controller="InventoryCtrl">
    <div class="container">
        <h2>Item Inventory</h2>

        <a class="btn btn-md btn-default" href="#!/item/create">Create New Inventory Item</a>
        <br></br>

        <ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true">
            <li ng-repeat="pic in pics | orderBy:'sortByLikes()'" class="grid">
                <img ng-src="{{pic.filename}}" class="grid-img" />
                <div class="img-desc-wrap">
                <div class="title ng-binding">
                   {{pic.name}}
                </div>
                <div class="uploaded-date ng-binding">

                    {{pic.description}}
                    <button type="button" ng-click="editItem($event, pic)" class="btn btn-xs btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button>


                </div>
                    <div class="likes-watch-wrap"><div class="likes">
                        Condition: {{pic.condition}}
                        <button type="button" ng-click="deleteItem($event, pic)" class="btn btn-xs btn-danger pull-right">Delete</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
