<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../register.css">
<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:300px;
        height:210px;
    }
</style>
<div ng-controller="ItemCreateCtrl">
    <div class="container">
        <div class="col-lg-6 col-xs-10 col-sm-10 col-md-7">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Item Creation</h1>
                    <hr />
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label for="rewardName">Item Name</label>
                    <input type="text" class="form-control" id="rewardName" placeholder="What is the reward?" ng-model="rewardName">
                </div>

                <div class="form-group">
                    <label for="rewardDescription">Item Description</label>
                    <textarea class="form-control" id="rewardDescription" placeholder="Describe this quest's reward" ng-model="rewardDescription"></textarea>
                </div>

                <div class="form-group">
                    <label for="rewardCondition">Item Condition</label>
                    <select id="rewardCondition" data-role="listview" data-inset="true" ng-options="condition for condition in conditions" class="form-control" ng-model="rewardCondition"></select>
                </div>

                <div class="form-group">
                    <label for="fileInput">Item Image</label>
                    <div><input type="file" id="fileInput" /></div>
                    <div class="cropArea">
                        <ui-cropper area-type="square" image="myImage" result-image="myCroppedImage"></ui-cropper>
                    </div>

                    <label for="croppedImage">Cropped Image</label>
                    <div><img ng-src="{{myCroppedImage}}" id="croppedImage" /></div>

                </div>

                <button class="btn btn-success" type="button" ng-click="ok()">Create Item</button>
            </div>
        </div>
    </div>
</div>