
<link rel="stylesheet" type="text/css" href="login.css"/>

    <div class="container">
        <div ng-controller="UserCtrl">
            <div class="omb_login">

                <h2 class="quest">Quest!</h2>
                <h3 class="omb_authTitle">Login or <a href="#!/register">Sign up</a></h3>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-6 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <google-plus-signin clientid="85424044506-elshe9k5td3tvc8ko4spv6i70gs87pc6.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-g-button">
                            <div id="my-custom-g-button">
                                <a class="btn btn-lg btn-block omb_btn-google">
                                    <i class="fa fa-google-plus visible-xs"></i>
                                    <span class="hidden-xs">Google</span>
                                </a>
                            </div>
                        </google-plus-signin>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3 omb_loginOr">
                    <div class="col-xs-12 col-sm-6">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-6">
                        <form class="omb_loginForm" ng-submit="login($event)">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Email" ng-model="username">
                            </div>
                            <span class="help-block"></span>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input  type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
                            </div>
                            <button class="btn btn-lg btn-default btn-block" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-if="invalidEmailOrPass">
                <div uib-alert ng-class="'alert-danger'">Incorrect Email or Password!</div>
            </div>
            <div ng-if="cantFindUser">
                <div uib-alert ng-class="'alert-danger'">Unknown User!</div>
            </div>
            <div ng-if="blankFields">
                <div uib-alert ng-class="'alert-warning'">Please Enter Your Email and Password!</div>
            </div>

        </div>

        <div class="row omb_row-sm-offset-3">

            <div class="col-xs-12 col-sm-3 col-md-3">
                <p class="omb_forgotPwd pull-left">
                    <a href="#!/recover">Forgot password?</a>
                </p>
            </div>
        </div>


    </div>
