<div class="modal-header">
    <h3 class="modal-title">Select Item From Inventory</h3>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in inventory | orderBy:'dateAdded'">
            <a href="" ng-click="choose(item.itemId)">
                &nbsp;{{item.name}} - Condition: {{item.condition}}&nbsp;
                <div ng-if="chosenItemId===item.itemId">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Select Item</button>
</div>
