<div class="modal-header">
    <h3 class="modal-title">{{header}}</h3>
</div>
<div class="modal-body">
    <p>{{bodyText}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn {{buttonStyle}}" type="button" ng-click="ok()">{{buttonText}}</button>
</div>
