<link rel="stylesheet" href="../input_styling.css">
<div class="modal-header">
    <h3 class="modal-title">Edit Item</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
        <div class="form-group form-group-editName  col-lg-6 col-md-6 col-sm-6">
            <label for="rewardName">Item Name</label>
            <input type="text" class="form-control" id="rewardName" ng-model="name">
        </div>
        </div>
        <div class="row">
        <div class="form-group form-group-editDescription  col-lg-6 col-md-6 col-sm-6">
            <label for="rewardDescription">Item Description</label>
            <textarea class="form-control" id="rewardDescription" ng-model="description"></textarea>
        </div>
        </div>
        <div class="row">
        <div class="form-group form-group-editCondition  col-lg-6 col-md-6 col-sm-6">
            <label for="rewardCondition">Item Condition</label>
            <select id="rewardCondition" data-role="listview" data-inset="true" ng-options="condition for condition in conditions" class="form-control" ng-model="condition"></select>
        </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Update Item</button>
</div>
