<link rel="stylesheet" href="../input_styling.css">
<div class="modal-header">
    <h3 class="modal-title">Create A New Tag</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="form-group form-group-editName col-lg-6 col-md-6 col-sm-6">
            <label for="tagName">Tag Name</label>
            <input type="text" class="form-control input-large" id="tagName" placeholder="Tag Name" ng-model="tagName">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Create Tag</button>
</div>
