<div class="modal-header">
    <h3 class="modal-title">View Report</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div ng-if="errorResolving">
            <div uib-alert ng-class="'alert-danger'">Error Resolving Report</div>
        </div>
        <div ng-if="errorUpdatingHealth">
            <div uib-alert ng-class="'alert-danger'">Error Updating User Health</div>
        </div>
        <div ng-if="errorBanning">
            <div uib-alert ng-class="'alert-danger'">Error Banning User</div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="offenderName">Offender</label>
                <a href="#!/quester/{{offenderId}}" target="_blank"><p id="offenderName">{{offenderName}}&nbsp;<i class="fa fa-external-link"></i></p></a>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="offenderHealth">Offender Health</label>
                <p id="offenderHealth">{{12 - offenderHealth}} points remaining</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="reporterName">Reporter</label>
                <a href="#!/quester/{{reporterId}}" target="_blank"><p id="reporterName">{{reporterName}}&nbsp;<i class="fa fa-external-link"></i></p></a>
            </div>
        </div>

        <div class="row" ng-if="hasQuest">
            <div class="form-group">
                <label for="questName">Quest</label>
                <a href="#!/quests/{{questId}}" target="_blank"><p id="questName">{{questName}}&nbsp;<i class="fa fa-external-link"></i></p></a>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="reportReason">Report Reason</label>
                <p id="reportReason">{{reason}}</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="reportMessage">Report Message</label>
                <p id="reportMessage">{{message}}</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="reportStatus">Report Status</label>
                <p id="reportStatus">{{status}}</p>
            </div>
        </div>


    </div>
</div>
<div class="modal-footer">

    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Dismiss Report">
            <button class="btn btn-default" type="button" ng-click="dismissReport()">Dismiss</button>
        </div>
        <div uib-accordion-group class="panel-warning" heading="Deduct Health">
            <div class="row">
                <input type="number" min="0" class="form-control pull-right" id="healthInput" placeholder="0" ng-model="inputHealthAmount">
            </div>
            <button class="btn btn-warning" type="button" ng-click="deductHealth(offenderHealth, inputHealthAmount)">Deduct</button>
        </div>
        <div uib-accordion-group class="panel-danger" heading="Ban Offender">
            <button class="btn btn-danger" type="button" ng-click="banOffender()">Ban</button>
        </div>
    </uib-accordion>

    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
