<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">

    <div uib-alert ng-class="'alert-success'">A Temporary Password Has Been Emailed To You</div>


    <div class="form-group">
        <label for="tempPassword">Enter the Password Emailed To You</label>
        <input type="password" class="form-control" id="tempPassword" placeholder="Emailed Password" ng-model="tempPassword">
    </div>

    <div class="form-group">
        <label for="password">Enter New Password</label>
        <input type="password" class="form-control" id="password" placeholder="New Password (minimum 9 characters)" ng-model="password">
    </div>

    <div class="form-group">
        <label for="password2">Re-Enter New Password</label>
        <input type="password" class="form-control" id="password2" placeholder="New Password (minimum 9 characters)" ng-model="password2">
    </div>

    <div ng-if="passwordMismatch">
        <div uib-alert ng-class="'alert-danger'">Passwords Must Match!</div>
    </div>

    <div ng-if="errorUpdating">
        <div uib-alert ng-class="'alert-danger'">Unable To Change Password</div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Update Password</button>
</div>
