<div class="modal-header">
    <h3 class="modal-title">Create A New Item</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="What is the item?" ng-model="rewardName">
    </div>

    <div class="form-group">
        <label for="itemImage">Item Image</label>
        <input type="file" id="itemImage" file-model="rewardFile">
    </div>

    <div class="form-group">
        <label for="itemDescription">Item Description</label>
        <input type="text" class="form-control" id="itemDescription" placeholder="Describe this item" ng-model="rewardDescription">
    </div>

    <div class="form-group">
        <label for="itemCondition">Item Condition</label>
        <select id="itemCondition" data-role="listview" data-inset="true" ng-options="condition for condition in conditions" class="form-control" ng-model="rewardCondition"></select>
    </div>



</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Create Item</button>
</div>
