<link rel="stylesheet" href="../star_style.css">
<div class="modal-header">

    <div ng-if="questGiver">
        <h3 class="modal-title">
            Rate the Quester for {{questName}}
        </h3>
    </div>
    <div ng-if="!questGiver">
        <h3 class="modal-title">
            Rate the Quest Giver for {{questName}}
        </h3>
    </div>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Rating</label>
        <ul class="list-inline">
            <li ng-repeat="num in range(questRating) track by $index"><a class="star-fa"><span ng-click="updateRating($index + 1)" class="fa fa-star fa-lg"></span></a></li>
            <li ng-repeat="num in range(maxRating - questRating)  track by $index"><a class="star-fa"><span ng-click="updateRating($index + 1 + questRating)" class="fa fa-star-o fa-lg"></span></a></li>
        </ul>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Submit Rating</button>
</div>
