<link rel="stylesheet" href="../input_styling.css">

<div ng-include src="'templates/navbar.html'"></div>
<div ng-controller="QuestCreateCtrl">
    <div class="container">

            <h3>Quest Creation</h3>&nbsp;


            <div class="form-group">
                <label for="rewardName">Reward Name</label>
                <input type="text" class="form-control" id="rewardName" placeholder="What is the reward?" ng-model="rewardName">
            </div>


            <div class="form-group">
                <label for="rewardDescription">Reward Description</label>
                <input type="text" class="form-control" id="rewardDescription" placeholder="Describe this quest's reward" ng-model="rewardDescription">
            </div>

            <div class="form-group">
                <label for="rewardCondition">Reward Condition</label>
                <select id="rewardCondition" data-role="listview" data-inset="true" ng-options="condition for condition in conditions" class="form-control" ng-model="rewardCondition"></select>
            </div>

            <div class="form-group">
                <label for="fileInput">Reward Image</label>
                <div><input type="file" id="fileInput" /></div>
                <div class="cropArea">
                    <ui-cropper image="imageData.myImage" result-image="imageData.myCroppedImage"></ui-cropper>
                </div>

                <label for="croppedImage">Cropped Image</label>
                <div><img class="img-circle" ng-src="{{imageData.myCroppedImage}}" id="croppedImage" onchange="angular.element(this).scope().uploadFile(this.files[0])" ng-init="imageData.myCroppedImage=''" /></div>

            </div>





        <button class="btn btn-success" type="button" ng-click="ok()">Create Item</button>
    </div>
</div>
