<link rel="stylesheet" href="../input_styling.css">
<div class="modal-header">
    <h3 class="modal-title">
        Report Quest: {{questName}}
    </h3>
</div>
<div class="modal-body">
    <div ng-if="errorMakingReport">
        <div uib-alert ng-class="'alert-danger'">Sorry, There Was An Error Creating This Report</div>
    </div>

        <div class="form-group form-group-reportReason">
            <label for="reasonSelect">Reason For Reporting<br></label>
            <select id="reasonSelect" data-role="listview" data-inset="true" ng-options="reason for reason in reportReasons" class="form-control" ng-model="selectedReason"></select>
        </div>

        <div class="form-group form-group-reportMessage">
            <label for="reportMessage">Message</label>
            <textarea class="form-control" id="reportMessage" placeholder="Please Provide Additional Detail On Why You Are Reporting This Quest" ng-model="reportMessage"></textarea>
        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">Submit Report</button>
</div>
