<link rel="stylesheet" href="../navbar.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<nav class="navbar navbar-inverse">
    <div class="containder-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">Quest!</a>
        </div>
        <div ng-controller="NavbarCtrl">
            <div class="navbar-collapse" id="topNavBar" uib-collapse="!isCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li class="">
                        <a href="#!/notifications" class="dropdown-toggle">
                            <i data-count="10" class="fa fa-bell fa-lg"></i>
                        </a>
                    </li>
                    -->

                    <li uib-dropdown>
                        <a href="#" uib-dropdown-toggle><span aria-hidden="true"></span><i class="fa fa-user fa-lg"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a href="#!/quester/{{userId}}"><i class="fa fa-user fa-fw"></i>&nbsp;Profile</a>
                            </li>
                            <li class="">
                                <a href="#!/inventory"><i class="fa fa-archive fa-fw"></i>&nbsp;Inventory</a>
                            </li>
                            <li class="divider"></li>
                            <li class="">
                                <a href="" ng-click="logout($event)"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>