<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../register.css">
<div class="container">
    <div ng-controller="RecoverCtrl">
        <div class="container">
            <div class="col-lg-6 col-xs-10 col-sm-10 col-md-7">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">Password Recovery</h1>
                        <hr />
                    </div>
                </div>
                <div class="">
                        <div class="form-group">
                            <label class="control-label" for="emailInput">Enter the Email Address You Used to Sign Up</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Email Address" ng-model="email">
                        </div>

                        <div ng-if="cantGetUser">
                            <div uib-alert ng-class="'alert-danger'">Unable To Find User With This Email</div>
                        </div>

                        <button type="submit" ng-click="sendTempPassword()" class="btn btn-success">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>