<link rel="stylesheet" href="../input_styling.css">
<div ng-include src="'templates/navbar.html'"></div>

<div class="container">
    <div ng-controller="QuestEditCtrl">
        <div class="row">
            <h3>Edit Quest: {{name}}</h3>&nbsp;
        </div>
        <form  ng-submit="updateQuest($event)">
            <div class="row">
                <div class="form-group form-group-qDescrip">
                    <label for="questDescription">Description</label>
                    <textarea class="form-control" id="questDescription" ng-model="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-group-qAddress">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" ng-model="address">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8">
                    <div map-lazy-load="https://maps.google.com/maps/api/js">
                        <ng-map center="{{address}}" zoom="12"><marker id="mapMarker" position="{{address}}" title="{{address}}"></marker></ng-map>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success">Update Quest</button>
            </div>
        </form>
    </div>
</div>