<link rel="stylesheet" href="../input_styling.css">
<div ng-include src="'templates/navbar.html'"></div>
<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:300px;
        height:210px;
    }
</style>
<div class="container">
    <div ng-controller="QuesterEditCtrl">
    <h3>Edit Profile</h3>&nbsp;
        <form ng-submit="updateProfile($event)">
            <div class="form-group form-group-qName">
                <label for="fullNameInput">Full Name</label>
                <input type="text" class="form-control" id="fullNameInput" placeholder="Full Name" ng-model="name">
            </div>
            <div class="form-group form-group-qName">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="email">
            </div>

            <div class="form-group form-group-qTag">
                <label for="citySelect">City</label>
                <select id="citySelect" data-role="listview" data-inset="true" ng-options="city as city.name for city in cities" class="form-control" ng-model="city"></select>
            </div>

            <div class="form-group">
                <label for="fileInput">Profile Image</label>
                <div><input type="file" id="fileInput" /></div>
                <div class="cropArea">
                    <ui-cropper image="myImage" result-image="myCroppedImage"></ui-cropper>
                </div>

                <label for="croppedImage">Cropped Image</label>
                <div><img class="img-circle" ng-src="{{myCroppedImage}}" id="croppedImage" /></div>

            </div>

            <button type="submit" class="btn btn-success">Update Account</button>
        </form>

        <div ng-if="cantCreateUser">
            <div uib-alert ng-class="'alert-danger'">An Error Occurred Creating This User!</div>
        </div>

    </div>
</div>