<link rel="stylesheet" href="../img_size.css">
<div ng-include src="'templates/navbar.html'"></div>

<div class="container">
    <div ng-controller="ProfileCtrl">
        <div ng-if="reportCreated">
            <div uib-alert ng-class="'alert-success'">This User Has Been Reported. Thank You!</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <h2>{{name}}</h2>
                                <p><strong>City: </strong> {{cityName}} </p>
                                <p><strong>Joined: </strong> {{joined | date:'MMM d, y'}} </p>
                            </div><!--/col-->
                            <div class="col-xs-6 col-sm-6 text-center">
                                <div class="profile-img">
                                    <img ng-src="{{profileImageLink}}" alt="" class="center-block img-circle img-responsive profile-img">
                                </div>
                                <ul class="list-inline ratings text-center" title="Ratings">

                                    <li ng-repeat="num in range(avgRating) track by $index"><span class="fa fa-star fa-lg"></span></li>
                                    <li ng-if="needHalfStar"><span class="fa fa-star-half-o fa-lg"></span></li>

                                    <li ng-if="!needHalfStar" ng-repeat="num in range(maxRating - avgRating)  track by $index"><span class="fa fa-star-o fa-lg"></span></li>
                                    <li ng-if="needHalfStar" ng-repeat="num in range(maxRating - avgRating - 1)  track by $index"><span class="fa fa-star-o fa-lg"></span></li>
                                    <li>({{numRatings}})</li>

                                </ul>
                            </div><!--/col-->
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <h2><strong> Level {{level}} </strong></h2>
                                <p>Exp: {{exp}}/{{exp + 15}}</p>


                            </div><!--/col-->
                            <div class="col-xs-6 col-sm-6">
                                <small><em>Account Health</em></small><div class="progress">
                                <uib-progressbar animate="false" value="health" max="maxHealth" type="{{healthType}}"><div class="progress-value"><b>{{healthPerc | number:0}}%</b></div></uib-progressbar>
                            </div>
                                <div ng-if="ownProfile">
                                    <a href="#!/quester/edit/{{userId}}" ><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button></a>
                                </div>
                                <div ng-if="!ownProfile">
                                    <button ng-click="reportUser($event)" class="btn-danger btn pull-right">Report</button>
                                </div>
                            </div>
                        </div><!--/row-->
                    </div><!--/panel-body-->
                </div><!--/panel-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{name}}'s Created Quests</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="quest in quests | orderBy:'created'">
                                <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}
                                    <div ng-if="questIdsToTag[quest.questId] !== ''" class="pull-right">
                                        Tag: {{questIdsToTag[quest.questId]}}</div>
                                </a>
                            </li>
                            <li class="list-group-item" ng-if="quests.length === 0">{{name}} Hasn't Created Any Quests Yet!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>