<link rel="stylesheet" href="../icon_styling.css">
<link rel="stylesheet" href="../input_styling.css">
<div ng-include src="'templates/navbar.html'"></div>
<!-- TODO Add Cash Reward and Chest Icon -->
<div ng-controller="QuestSearchCtrl">
    <div class="container">
        <h2>Quest Search</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-group-qSearch">
                    <label for="userInput">Search Quest Name</label>
                    <input type="text" class="form-control" id="userInput" placeholder="Search" ng-model="userInput">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-qTag-50">
                    <label for="tagSelect">Filter By Tag</label><br>
                    <select id="tagSelect" data-role="listview" data-inset="true" ng-options="tag as tag.tagName for tag in tagList" class="form-control" ng-model="tagForFilter"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="quest in quests | filter: {name: userInput} | orderBy:'-created'" ng-if="tagForFilter.tagName === 'ALL' || tagForFilter.tagName === '' || ' - Tag: ' + tagForFilter.tagName === questIdsToTag[quest.questId]">
                    <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}{{questIdsToTag[quest.questId]}}
                        <i ng-if="quest.hasReward" class="fa fa-archive pull-right" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <i ng-if="!quest.hasReward" class="fa fa-archive pull-right hide-icon" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <div ng-if="quest.cashReward > 0" class="pull-right">
                            ${{quest.cashReward}}&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
