<div ng-include src="'templates/navbar.html'"></div>

<div class="container">
    <div ng-controller="QuestCtrl">
        <div ng-if="reportCreated">
            <div uib-alert ng-class="'alert-success'">This Quest Has Been Reported. Thank You!</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1>{{questName}} <small>{{questExp}}xp</small></h1>
            </div>
            <div class="col-md-4 text-right">
                <a href="#!/quester/{{giverId}}">
                    <p class="pull-right">{{giverName}}</p>
                    <img ng-src="{{giverImagePath}}" class="pull-right img-responsive img-circle" style="width: 50px; height: 50px;"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div ng-if="!questGiver">
                    <button ng-click="reportQuest($event)" class="btn-danger btn btn-sm pull-right">Report This Quest</button>
                </div>
                <div ng-if="questGiver">
                    <div ng-if="questOpen">
                        <button ng-click="deleteQuest($event)" type="button" class="btn btn-sm btn-danger pull-right">Delete This Quest</button>
                    </div>
                    <a href="#!/quests/edit/{{questId}}" ><button class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 panel panel-default">
                        {{questDescription}}
                            <br>
                            <br>
                            <div ng-if="tag !== ''">
                                Tag: {{tag}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-if="questOpen">
                            <div ng-if="!questGiver && !applied">
                                    <button ng-click="apply($event)" type="button" class="btn btn-md btn-default">Apply</button>
                            </div>
                            <div ng-if="!questGiver && applied">
                                <button disabled="disabled" type="button" class="btn btn-default">Applied</button>
                            </div>
                            <div ng-if="questGiver">
                                <div class="panel panel-default col-lg-6 col-md-6 col-sm-10 col-xs-10">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Quest Applicants</div>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="applicant in applicantData">
                                            <a href="#!/quester/{{applicant.id}}"><img ng-src="{{applicant.profileImageLink}}" class="pull-left img-responsive img-circle center-block" style="width: 40px; height: 40px;"/>
                                            <h4 class="list-group-item-heading">&nbsp;{{applicant.name}}</h4></a>
                                            <p class="list-group-item-text">
                                                &nbsp;&nbsp;Level: {{applicant.level}}
                                                &nbsp;&nbsp;&nbsp;<a href="" ng-click="acceptApp($event, applicant)"><i class="glyphicon glyphicon-ok"></i></a>
                                                &nbsp;&nbsp;&nbsp;<a href="" ng-click="startChatWithApp($event, applicant)"><i class="glyphicon glyphicon-comment"></i></a>
                                            </p>
                                        </li>
                                        <li class="list-group-item" ng-if="applicantData.length === 0">
                                            Nobody Has Applied For This Quest Yet
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-if="questInProgress">
                            <div ng-if="questGiver || questDoerBool">

                                <div ng-if="questGiver">
                                    <div class="panel panel-default col-lg-6 col-md-6 col-sm-10 col-xs-10">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading">Quester</div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <a href="#!/quester/{{questDoer.id}}"><img ng-src="{{questDoer.profileImageLink}}" class="pull-left img-responsive img-circle center-block" style="width: 40px; height: 40px;"/>
                                                    <h4 class="list-group-item-heading">&nbsp;{{questDoer.name}}</h4></a>
                                                    <p class="list-group-item-text">
                                                        &nbsp;&nbsp;Level: {{questDoer.level}}
                                                        &nbsp;&nbsp;&nbsp;<a href="" ng-click="startChatWithApp($event, questDoer)"><i class="glyphicon glyphicon-comment"></i></a>
                                                    </p>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                                        <button ng-click="completeQuest($event)" type="button" class="btn btn-success">Complete This Quest</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="questAddress">Quest Address</label>
                                    <p id="questAddress">{{address}}</p>
                                </div>
                                <div class="container col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCpUXHXTNrcyLjIorKuGqVG570s4-689zw">
                                    <ng-map zoom="14" center="{{latitude}}, {{longitude}}" >
                                        <directions
                                                draggable="true"
                                                travel-mode="DRIVING"
                                                origin="current-location"
                                                destination="{{address}}">
                                        </directions>
                                    </ng-map>
                                </div>
                                </div>

                            </div>
                            <div ng-if="!questGiver && !questDoerBool">
                                <button disabled="disabled" type="button" class="btn btn-warning">In Progress</button>
                            </div>

                        </div>
                        <div ng-if="questWaitingOnGiver">
                            <div ng-if="questGiver">
                                <button ng-click="completeQuest($event)" type="button" class="btn btn-success">Complete This Quest</button>
                            </div>
                            <div ng-if="!questGiver">
                                <button disabled="disabled" type="button" class="btn btn-warning">Waiting For Completion</button>
                            </div>
                        </div>
                        <div ng-if="questCompleted">
                            <button disabled="disabled" type="button" class="btn btn-success">Completed</button>


                            <div ng-if="questGiver && receiverRating === null">
                                <br>
                                <button ng-click="rateQuest($event)" type="button" class="btn btn-default">Rate The Quester</button>
                            </div>
                            <div ng-if="questDoerBool && giverRating === null">
                                <br>
                                <button ng-click="rateQuest($event)" type="button" class="btn btn-default">Rate The Quest Giver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 thumbnail with-caption col-sm-10 col-xs-10">
                <div ng-if="rewardImagePath">
                    <img ng-src="{{rewardImagePath}}" class="img-responsive"/>
                    <h3>{{rewardName}}</h3>
                    <p>
                        {{rewardDescription}}<br />
                        Condition: {{rewardCondition}}
                    </p>
                </div>
                <div ng-if="cashReward">
                    <h3>${{cashReward}}</h3>
                </div>
                <div ng-if="!rewardImagePath && !cashReward">
                    <h3>Volunteer Work</h3>
                </div>
            </div>
        </div>
    </div>
</div>
