<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../register.css">
<div class="container"><style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:300px;
        height:210px;
    }
</style>
    <div ng-controller="RegisterCtrl">
        <div class="container">
            <div class="col-lg-6 col-xs-10 col-sm-10 col-md-7">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">Quest! Registration</h1>
                        <hr />
                    </div>
                </div>
                <div class="">
                    <form ng-submit="register($event)">
                        <div class="form-group">
                            <label class="control-label" for="fullNameInput">Full Name</label>
                            <input type="text" class="form-control" id="fullNameInput" placeholder="Full Name" ng-model="name">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email address</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="email">
                        </div>

                        <div ng-if="emailExists">
                            <div uib-alert ng-class="'alert-danger'">A User With This Email Already Exists!</div>
                        </div>

                        <div class="form-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordInput" placeholder="Password (minimum 9 characters)" ng-model="password">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput2">Re-enter Password</label>
                            <input type="password" class="form-control" id="passwordInput2" placeholder="Password (minimum 9 characters)" ng-model="password2">
                        </div>

                        <div ng-if="mismatchPasswords">
                            <div uib-alert ng-class="'alert-danger'">Passwords Must Match</div>
                        </div>

                        <div ng-if="passwordTooShort">
                            <div uib-alert ng-class="'alert-danger'">Password Must Be At Least 9 Characters</div>
                        </div>

                        <div class="form-group">
                            <label for="citySelect">City</label>
                            <select id="citySelect" data-role="listview" data-inset="true" ng-options="city as city.name for city in cities" class="form-control" ng-model="city"></select>
                        </div>

                        <div class="form-group">
                            <label for="fileInput">Profile Image</label>
                            <div><input type="file" id="fileInput" /></div>
                            <div class="cropArea">
                                <ui-cropper image="myImage" result-image="myCroppedImage"></ui-cropper>
                            </div>

                            <label for="croppedImage">Cropped Image</label>
                            <div><img class="img-circle" ng-src="{{myCroppedImage}}" id="croppedImage" /></div>

                        </div>

                        <div ng-if="cantCreateUser">
                            <div uib-alert ng-class="'alert-danger'">An Error Occurred Creating This User!</div>
                        </div>

                        <button type="submit" class="btn btn-success">Create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>