<div ng-include src="'templates/navbar.html'"></div>
<!-- TODO Add Cash Reward and Chest Icon To List -->
<div ng-controller="ActiveQuestCtrl">
    <div class="container">
        <div class="row">
            <h2>Your Active Quests</h2>
        </div>
        <div class="row">
            <ul class="list-group">
                <!-- TODO Implement Notification System and Print Badges With Following Syntax -->
                <!-- <li class="list-group-item"><span class="badge">5</span>&nbsp;Quest A</li> -->
                <li class="list-group-item" ng-repeat="quest in quests | orderBy:'created'">
                    <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}{{questIdsToTag[quest.questId]}}
                        <i ng-if="quest.hasReward" class="fa fa-archive pull-right" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <i ng-if="!quest.hasReward" class="fa fa-archive pull-right hide-icon" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <div ng-if="quest.cashReward > 0" class="pull-right">
                            ${{quest.cashReward}}&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                </li>
                <li class="list-group-item" ng-if="quests.length === 0">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">You Are Not Currently On Any Quests</h5>
                    </div>
                    <p class="mb-1"><i class="glyphicon glyphicon-search"></i><a href="#!/search">&nbsp;Search For A Quest To Complete</a></p></li>
            </ul>
        </div>
    </div>
</div>
