<link rel="stylesheet" href="../icon_styling.css">
<div ng-include src="'templates/navbar.html'"></div>
<!-- TODO Add Cash Reward and Chest Icon To List -->
<div ng-controller="CreatedQuestCtrl">
    <div class="container">
        <div class="row">
            <h2>Your Created Quests</h2>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i><a href="#!/quests/new">&nbsp;Create</a></li>
                <!-- TODO Implement Notification System and Print Badges With Following Syntax -->
                <!-- <li class="list-group-item"><span class="badge">5</span>&nbsp;Quest A</li> -->
                <li class="list-group-item" ng-repeat="quest in quests | orderBy:'created'">
                    <a href="#!/quests/{{quest.questId}}">&nbsp;{{quest.name}}{{questIdsToTag[quest.questId]}}
                        <i ng-if="quest.hasReward" class="fa fa-archive pull-right" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <i ng-if="!quest.hasReward" class="fa fa-archive pull-right hide-icon" style="font-size:20px;">&nbsp;&nbsp;&nbsp;</i>
                        <div ng-if="quest.cashReward > 0" class="pull-right">
                            ${{quest.cashReward}}&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                </li>
                <li class="list-group-item" ng-if="quests.length === 0">You Have No Created Quests</li>
            </ul>
        </div>
    </div>
</div>
